{% extends 'base.html' %}

{% block title %}Real Estate About{% endblock %}

{% block text_center %}<h2>Information about this web-service</h2>{% endblock %}

{% block body %}
<p>This website is made for non-commercial and self learning purposes.</p>
<p>The main function of the service is to predict(calculate) price for flat by your requests.
To calculate price press blue button above on the page, fill the form and get your price. Quite simple.
Predicted price shows mean value for flats with similar characteristics and can be different in your personal case.</p>
<p>If you want to look how changed the mean price per m2 in Warsaw, press "Mean price" button above.</p>
<p>Besides, by clicking button "Flats" you can find all apartments(flats) which are on sale now in Warsaw.</p>
<p>You can add your own flat to the list of flats in sale too, by clicking the corresponding button in header area.</p>

{% endblock %}