{% extends 'base.html' %}

{% block title %}Real Estate Home Page{% endblock %}

{% block carousel %}
<div class="container">
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="static/images/waw_image.jpg" alt="Warsaw image" width="1300" height="400">
        <div class="container">
          <div class="carousel-caption">
            <h1>Calculate the price for the most suitable apartments for you in Warsaw</h1>
            <p><a class="btn btn-lg btn-primary" href="/predict_price">Calculate my price</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/images/warsaw-2.jpeg" alt="Warsaw image 2" width="1300" height="400">
        <div class="container">
          <div class="carousel-caption">
            <h1>Or just find it from the list of available apartments for sale</h1>
            <p><a class="btn btn-lg btn-primary" href="/flats">All flats</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}

{% block text_center %}<h2>Top 5 flats in sale</h2>{% endblock %}

{% block body %}
<div class="container">
    {% for flat in flats %}
    <p><strong>Warsaw, {{flat.district}}</strong></p>
    <p><strong>Price: </strong> {{flat.price}} PLN</p>
    <p><strong>Area, sq.m.: </strong> {{flat.area}}</p>
    <p><strong>Rooms: </strong> {{flat.rooms}}</p>
    <p>Date of adding: {{flat.publication_date}}</p>
    <a href="/flats/{{ flat.id }}" class="btn btn-info rounded-pill px-3">More info</a>
    <hr>
    {% endfor %}
</div>
{% endblock %}